{% comment %}
  This variable is used to track whether the publication year has been
  printed.

  The year gets printed in parens next to the first/principal contributor,
  but only the first contributor -- not every contributor.
{% endcomment %}
{% assign year_has_been_printed = false %}

<dl class="full_book_metadata">
  {% for c in book.contributors %}
  <dt>
    {% assign is_plural = c["name"] | plural? %}
    {% if c["role"] %}{{ c["role"] }}{% else %}author{% endif %}{% if is_plural %}s{% endif -%}
  </dt>
  <dd>
    {{ c["name"] }}
    {% unless year_has_been_printed %}
      ({{ book.publication_year }})
      {% assign year_has_been_printed = true %}
    {% endunless %}
  </dd>
  {% endfor %}

  {% if review.date_read %}
  <dt>date read</dt>
  <dd>{{ review.date_read | date_read }}
    {% if review.did_not_finish %}
      <span class="did_not_finish">
        (did not finish)
      </span>
    {% endif %}
  </dd>
  {% endif %}

  {% if review.rating and review.did_not_finish != "true" %}
  <dt>rating</dt>
  <dd>{{ review.rating | spread_star_rating }}</dd>
  {% endif %}
</dl>
