{% comment %}
  This component displays a preview card for a single review, which
  is shown on my homepage and the global list of reviews.
{% endcomment %}

{% comment %}
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.

  I'm going for shorter names here to reducde the overall size
  of the page.
{% endcomment %}

{% assign book = review_entry.book %}
{% assign review = review_entry.review %}
{% assign slug = review_entry.url | replace: "/", "_" %}

{% assign authors = book.contributors | where: "role", "author" %}

{% assign aspect_ratio =
  book.cover.width | times: 1.0 | divided_by: book.cover.height | round: 2 %}

{% comment %}
  Assign the CSS variables required for this review preview.

  See the comment in `style.css` to see what these variables are doing.
{% endcomment %}
{% capture css_variables %}
  --r:  {{ book.cover.tint_color|red }};
  --g:  {{ book.cover.tint_color|green }};
  --b:  {{ book.cover.tint_color|blue }};
  --ar: {{ aspect_ratio }}
{% endcapture %}

<div
  id="{{ review_entry.short_id }}"
  class="rv_p{% if read_at_another_time %} read_at_another_time{% endif %}"
  style="{{ css_variables | replace: " ", "" | strip | replace: "; ", "" }}"
  data-bk-a="
    {%- for a in authors %}
      {{ site.data['author_ids'][a.name] }}
    {%- endfor -%}
  "
  data-bk-p-yr="{{ book.publication_year }}"
  data-rv-s="{% if review.rating %}{{ review.rating }}{% endif %}"
  data-rv-t="
    {%- for t in book.tags %}
      {{ site.data['tag_prefixes'][t] }}
    {%- endfor -%}
  "
  data-rv-yr="{{ review | year_read }}"
  {% if review.did_not_finish %}data-did-not-finish{% endif %}
>

  {% comment %}
    Thumbnails can be up to 110px wide or 130px tall, which is
    an aspect ratio of 0.85.  We need to know which it is, so we can
    set the max bounds properly.
  {% endcomment %}
  <a href="{{ review_entry.url }}">
    <div class="bk_t
                {% if aspect_ratio == 1 %}
                  ar_s
                {% elsif aspect_ratio > 0.85 %}
                  ar_l
                {% else %}
                  ar_p
                {% endif %}
              ">
      <img
        src="{{ book.cover.thumbnail_path }}"
        alt=""
        loading="lazy"
      >
    </div>

    <div class="bk_m">
      <p class="title">
        {{ book.title | smartify }}
        {% if book.series %}
        <span class="book-series">({{ book.series | smartify }})</span>
        {% endif %}
      </p>
      <p>
        {{ book | credit_line }}

        <br/>

        {% if review.date_read %}
        read {{ review.date_read | date_read }}
          <br/>
        {% endif %}

        {% if review.rating and review.did_not_finish != true %}
          <span class="star_rating">
            {{ review.rating | star_rating }}
          </span>
        {% endif %}

        {% if review.did_not_finish %}
        (did not finish)
        {% endif %}
      </p>
    </div>
  </a>
</div>
