{% comment %}
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.

  I'm going for shorter names here to reducde the overall size
  of the page.
{% endcomment %}

{% assign book = review_entry.book %}
{% assign review = review_entry.review %}
{% assign slug = review_entry.url | replace: "/", "_" %}

<style type="x-text/scss">
  #rp_{{ slug }} {
    --border: {{ book.cover.tint_color }};

    {% if review.rating == 5 %}
      --bg: {{ book.cover.tint_color | boost: 0.3, 0.8 }};
      --hover-bg: {{ book.cover.tint_color | boost: 0.42, 0.58 }};
      --shadow: {{ book.cover.tint_color | as_rgba: 0.3 }};
    {% else %}
      --bg: {{ book.cover.tint_color | boost: 0.08, 0.92 }};
      --hover-bg: {{ book.cover.tint_color | boost: 0.26, 0.74 }};
    {% endif %}
  }
</style>

{% assign authors = book.contributors | where: "role", "author" %}

<div
  id="rp_{{ slug }}"
  class="review_preview {% if read_at_another_time %}read_at_another_time{% endif %}"
  data-book-authors="{% for a in authors -%}{{ a.name }}{% unless forloop.last %},{% endunless %}{%- endfor %}"
  data-book-publication-year="{{ book.publication_year }}"
  data-review-rating="{% if review.rating %}{{ review.rating }}{% endif %}"
  data-review-tags="{{ book.tags | join: " " }}"
  data-review-year="{{ review | year_read }}"
  {% if review.did_not_finish %}data-did-not-finish{% endif %}
>
  <a href="{{ review_entry.url }}">
    <div class="book_thumbnail">
      <img
        src="/thumbs/{{ review | year_read }}/{{ book.cover.name }}"
        style="aspect-ratio: {{ book.cover.width }} / {{ book.cover.height }}; max-width: 110px; max-height: 130px;"
        alt=""
        loading="lazy"
      >
    </div>

    <div class="book_metadata">
      <p class="title">
        {{ book.title | smartify }}
        {% if book.series %}
        <span class="book-series">({{ book.series | smartify }})</span>
        {% endif %}
      </p>
      <p>
        <small>
          {{ book | credit_line }}

          <br/>

          {% if review.date_read %}
          read {{ review.date_read | date_read }}
            <br/>
          {% endif %}

          {% if review.rating and review.did_not_finish != true %}
            <span class="star_rating">
              {{ review.rating | star_rating }}
            </span>
          {% endif %}

          {% if review.did_not_finish %}
          (did not finish)
          {% endif %}
        </small>
      </p>
    </div>
  </a>
</div>
