{% comment %}
  Note: in general I lean towards long, descriptive names for
  my CSS classes and variables, but this is a "hot" component
  which is used a lot, especially on the articles page.

  I'm going for shorter names here to reducde the overall size
  of the page.
{% endcomment %}

{% assign book = review_entry.book %}
{% assign review = review_entry.review %}
{% assign slug = review_entry.url | replace: "/", "_" %}

{% assign authors = book.contributors | where: "role", "author" %}

<div
  id="{{ review_entry.url }}"
  class="review_preview {% if read_at_another_time %}read_at_another_time{% endif %}"
  style="--r: {{ book.cover.tint_color|red }};
         --g: {{ book.cover.tint_color|green }};
         --b: {{ book.cover.tint_color|blue }};
         --w: {{ book.cover.width }};
         --h: {{ book.cover.height }};"
  data-book-authors="{% for a in authors -%}{{ a.name }}{% unless forloop.last %},{% endunless %}{%- endfor %}"
  data-book-publication-year="{{ book.publication_year }}"
  data-review-rating="{% if review.rating %}{{ review.rating }}{% endif %}"
  data-review-tags="{{ book.tags | join: " " }}"
  data-review-year="{{ review | year_read }}"
  {% if review.did_not_finish %}data-did-not-finish{% endif %}
>

  {% comment %}
    Thumbnails can be up to 110px wide or 130px tall, which is
    an aspect ratio of 0.85.  We need to know which it is, so we can
    set the max bounds properly.
  {% endcomment %}
  {% assign aspect_ratio =
    book.cover.width | times: 1.0 | divided_by: book.cover.height %}
  <a href="{{ review_entry.url }}">
    <div class="book_thumbnail
                {% if aspect_ratio == 1 %}
                  square
                {% elsif aspect_ratio > 0.85 %}
                  landscape
                {% else %}
                  portrait
                {% endif %}
              ">
      <img
        src="/thumbs/{{ review | year_read }}/{{ book.cover.name }}"
        alt=""
        loading="lazy"
      >
    </div>

    <div class="book_metadata">
      <p class="title">
        {{ book.title | smartify }}
        {% if book.series %}
        <span class="book-series">({{ book.series | smartify }})</span>
        {% endif %}
      </p>
      <p>
        {{ book | credit_line }}

        <br/>

        {% if review.date_read %}
        read {{ review.date_read | date_read }}
          <br/>
        {% endif %}

        {% if review.rating and review.did_not_finish != true %}
          <span class="star_rating">
            {{ review.rating | star_rating }}
          </span>
        {% endif %}

        {% if review.did_not_finish %}
        (did not finish)
        {% endif %}
      </p>
    </div>
  </a>
</div>
