---
layout: compress
---

{% assign book = page.book %}
{% assign review = page.review %}

{% assign year = page.review["date_read"] | slice: 0, 4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include_cached head.html %}

    <style>
      {% include _review.css %}
    </style>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@alexwlchan"/>
    <meta name="twitter:title" content="alexwlchan's review of {{ book.title }}"/>
    <meta name="twitter:image" content="{{ site.url }}/squares/{{ book.cover.name }}"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}/reviews/{{ slug }}">
    <meta property="og:title" content="{{ book.title }}">
    <meta property="og:image" content="{{ site.url }}/squares/{{ book.cover.name }}"/>
    <meta property="og:description" content="{{ book | book_description }}. {{ review | review_description }}">

    <meta name="theme-color" content="{{ book.cover.tint_color }}">

    <link rel="shortcut icon" type="image/png" href="/favicons/{{ book.cover.tint_color | replace: "#", "" }}.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicons/{{ book.cover.tint_color | replace: "#", "" }}.ico">
  </head>

  <body>
    <a class="skip-main" href="#main">Skip to main content</a>

    <main id="main" tabindex="-1">
      <div class="book-cover">
        {% include book_cover.html %}
      </div>

      {{ year }}
    </main>

    {% include_cached footer.html %}
  </body>
</html>
