.review a {
  color: {{ book.cover.tint_color }};
}

.review a:hover {
  background: {{ book.cover.tint_color | as_rgba: 0.3 }};
}

.book-cover img {
  box-shadow: 0px 5px 5px {{ book.cover.tint_color | as_rgba: 0.25 }};
}

footer span.heart {
  color: {{ book.cover.tint_color }};
}
