body {
  margin: 0;
  padding: 0;
  font: 12pt monospace;
  line-height: 1.4em;
}

h1 .book-title {
  font-style: italic;
  line-height: 1.2em;
}

.book-cover img {
  float: right;
  max-width:  150px;
  max-height: 250px;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.25);
}

aside {
  background: url('/static/specktre_tQt7j.png') #333366;
  background-size: auto 100%;
  color: white;
  padding: 6px 1em;
  font-size: 10pt;
  line-height: 1.35em;
}

aside a {
  text-decoration: none;
}

aside h1 {
  margin-top: 0;
  margin-bottom: 0;
  display: inline;
  font-size: 1em;
}

aside h1::after {
  content: " 📚";
}

main, aside #aside_inner, footer #footer_inner {
  max-width: 750px;
  margin-left:  auto;
  margin-right: auto;
}

main {
  padding: 1em;
}

a {
  color: #4c3dae;
}

a:hover {
  background: rgba(76, 61, 174, 0.3);
}

aside a {
  color: white;
}

aside a:hover {
  background: rgba(255, 255, 255, 0.3);
}

table.book_metadata {
  border-collapse: collapse;
  margin-bottom: 1em;
}

td {
  padding-right: 10px;
  padding-top:    3px;
  padding-bottom: 3px;
}

th {
  text-align: left;
}

footer {
  border-top: 0.25px solid #bfbfbf;
  color: #999;
  font-size: 0.75em;
  margin-top: 2em;
  padding: 1em;
  padding-bottom: 2em;
}

footer a {
  color: gray;
}

footer a:hover {
  background: rgba(128, 128, 128, 0.3);
}

.review_preview, .reading {
  border: 2px solid #00a892;
  background: rgba(0, 255, 221, 0.05);
  border-radius: 6px;
  margin-bottom: 1em;
  height: 138px;
}

.review_preview a, .reading_inner {
  grid-template-columns: 135px auto;
  display: grid;
  grid-gap: 8px;
  height: 100%;
  width: 100%;
  color: black;
  text-decoration: none;
}

.review_preview a:hover {
  background: rgba(0, 255, 221, 0.2);
}

.review_preview img, .reading_inner img {
  max-width: 120px;
  max-height: 110px;
  margin-top: 12px;
  margin-bottom: 7px;
  box-shadow: 0px 2.5px 2.5px rgba(0,0,0,0.25);
}

.book_thumbnail {
  text-align: center;
}

.book_metadata {
  grid-row: 1/1;
  grid-column: 2/2;
  display: inline-block;
  margin-top:    auto;
  margin-bottom: auto;
  line-height: 1.25em;
}

.book_metadata p.title {
  font-style: italic;
  font-size: 1.15em;
  margin-bottom: 0.65em;
}

.book_metadata p {
  margin: 0;
}

.nav {
  margin-top: 0;
}

.nav .selected {
  font-weight: bold;
}

.note {
  margin-left:  1em;
  margin-right: 1em;
}

.note p:first-child {
  margin-top: 0;
}

.note p:last-child {
  margin-bottom: 0.75em;
}
