{% for book_entry in all_books %}
{% set r = (tint_colors[book_entry.book.cover_image][0] * 255) | int %}
{% set g = (tint_colors[book_entry.book.cover_image][1] * 255) | int %}
{% set b = (tint_colors[book_entry.book.cover_image][2] * 255) | int %}

<style>
  #reading_{{ r }}_{{ g }}_{{ b }} {
    background: rgb(
      {{ (r * 0.08 + 0.92 * 255) | int }},
      {{ (g * 0.08 + 0.92 * 255) | int }},
      {{ (b * 0.08 + 0.92 * 255) | int }}
    );
    border-color: rgb({{ r }}, {{ g }}, {{ b }});
  }

  #reading_{{ r }}_{{ g }}_{{ b }} a {
    color: rgb({{ r }}, {{ g }}, {{ b }});;
  }

  #reading_{{ r }}_{{ g }}_{{ b }} a:hover {
    background: rgb(
      {{ (r * 0.3 + 0.7 * 255) | int }},
      {{ (g * 0.3 + 0.7 * 255) | int }},
      {{ (b * 0.3 + 0.7 * 255) | int }}
    );
  }
</style>

<div class="reading" id="reading_{{ r }}_{{ g }}_{{ b }}">
  <div class="reading_inner">
    <div class="book_thumbnail">
      {% set book = book_entry.book %}
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">{{ book_entry.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ book_entry.book.author }}
          {%- if book_entry.book.publication_year %}
            ({{ book_entry.book.publication_year}})
          {%- endif -%}
        </small>
      </p>
    </div>
  </div>
  {% if book_entry.plan.text %}
  <div class="note">
    {{ book_entry.plan.text | render_markdown | safe }}
  </div>
  {% endif %}
</div>
{% endfor %}
