{% set book = review_entry.book %}
{% set review = review_entry.review %}
{% set slug = review_entry.slug %}

<style>
  {% include "_review_style.css" %}
</style>

<div class="review_preview {% if review.rating is defined and review.rating == 5 and not is_homepage %}review_fave{% endif %}"
id="review_preview_{{ slug }}">
  <a href="/reviews/{{ slug }}">
    <div class="book_thumbnail">
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">
        {{ book.title | smartypants | safe }}
        {% if book.series %}
        <span class="book-series">({{ book.series | smartypants | safe }})</span>
        {% endif %}
      </p>
      <p>
        <small>
          {% if book.author %}
            by {{ book.author }}
            {%- if book.editor -%}
            ,
            {% endif %}
          {% endif %}

          {% if book.editor %}
          edited by {{ book.editor }}
          {% endif %}

          {% if book.retold_by %}
          retold by {{ book.retold_by }}
          {% endif %}

          {%- if book.publication_year %}
            ({{ book.publication_year}})
          {%- endif -%}
            <br/>
          {% if review.date_read %}
          read {{ review.date_read | render_date }}
            <br/>
          {% endif %}

          {% if review.rating and not review.did_not_finish %}
            <span class="star_rating">
              {{ review.rating | star_rating }}
            </span>
          {% endif %}

          {% if review.did_not_finish %}
          (did not finish)
          {% endif %}
        </small>
      </p>
    </div>
  </a>
</div>
