{% set r = (tint_colors[review_entry.book.cover_image][0] * 255) | int %}
{% set g = (tint_colors[review_entry.book.cover_image][1] * 255) | int %}
{% set b = (tint_colors[review_entry.book.cover_image][2] * 255) | int %}

<style>
  #review_preview_{{ r }}_{{ g }}_{{ b }} {
    background: rgba({{ r }}, {{ g }}, {{ b }}, 0.05);
    border-color: rgb({{ r }}, {{ g }}, {{ b }});
  }

{% if review_entry.review.rating == 5 %}
  #review_preview_{{ r }}_{{ g }}_{{ b }}.review_fave {
    background: rgba({{ r }}, {{ g }}, {{ b }}, 0.2);
    border-color: rgb({{ r }}, {{ g }}, {{ b }});
    border-width: 3px;
    margin-left:  -1px;
    margin-right: -1px;
  }
{% endif %}

  #review_preview_{{ r }}_{{ g }}_{{ b }} a:hover {
    background: rgba({{ r }}, {{ g }}, {{ b }}, 0.3);
  }

  #review_preview_{{ r }}_{{ g }}_{{ b }} .review_preview img {
    box-shadow: 0px 2.5px 2.5px rgba({{ r }}, {{ g }}, {{ b }}, 0.25);
  }
</style>

<div class="review_preview {% if review_entry.review.rating == 5 and not is_index %}review_fave{% endif %}"
id="review_preview_{{ r }}_{{ g }}_{{ b }}">
  <a href="/{{ review_entry.out_path() }}">
    <div class="book_thumbnail">
      {% set book = review_entry.book %}
      {% include "_book_cover.html" %}
    </div>

    <div class="book_metadata">
      <p class="title">{{ review_entry.book.title | smartypants | safe }}</p>
      <p>
        <small>
          by {{ review_entry.book.author }}
          {%- if review_entry.book.publication_year %}
            ({{ review_entry.book.publication_year}})
          {%- endif -%}
            <br/>
          {% if review_entry.review.date_read %}
          read {{ review_entry.review.date_read | render_date }}
            <br/>
          {% endif %}

          <span class="star_rating">
          {% if review_entry.review.rating %}
            {% for _ in range(review_entry.review.rating) -%}
            ★
            {%- endfor -%}
            {%- for _ in range(5 - review_entry.review.rating) -%}
            ☆
            {%- endfor %}
          {% endif %}
          </span>
        </small>
        {% if review_entry.review.did_not_finish %}
          (did not finish)
        {% endif %}
      </p>
    </div>
  </a>
</div>
