{% set book = review_entry.book %}
{% set review = review_entry.review %}
{% set slug = review_entry.slug %}
{% set cover_dimensions = review_entry.derived_cover_info %}

<style>
  {% include "_review_style.css" %}
</style>

<div
  class="review_preview {% if review.rating is defined and review.rating == 5 and not is_homepage %}review_fave{% endif %} {% if read_at_another_time %}read_at_another_time{% endif %}"
  id="review_preview_{{ slug }}"
  data-book-authors="{{ book.author_names | join(sep=";") }}"
>
  {% if not read_at_another_time %}
  <a href="/reviews/{{ slug }}">
  {% endif %}
    <div class="book_thumbnail">
      <!--
        This is a total fudge to make thumbnails be centred horizontally and vertically,
        even if the book is wider than it is tall.

        The two "thumbnail_helper" elements on either side have height 100% and are
        vertically aligned, and then somehow the image picks it up.

        See https://stackoverflow.com/a/7310398/1558022.  I had to add a helper on
        both sides to stop it pushing the image towards the right edge.

        -->
      <span class="thumbnail_helper"></span>
      {% if cover_dimensions.width / 110.0 > cover_dimensions.height / 130.0 %}
        <img src="/thumbnails/{{ book.cover.name }}" style="width: 110px; height: {{ cover_dimensions.height * 110 / cover_dimensions.width | round}}px;" loading="lazy">
      {% else %}
        <img src="/thumbnails/{{ book.cover.name }}" style="height: 130px; width: {{ cover_dimensions.width * 130 / cover_dimensions.height | round }}px;" loading="lazy">
      {% endif %}
      <span class="thumbnail_helper"></span>
    </div>

    <div class="book_metadata">
      <p class="title">
        {{ book.title | smartypants | safe }}
        {% if book.series %}
        <span class="book-series">({{ book.series | smartypants | safe }})</span>
        {% endif %}
      </p>
      <p>
        <small>
          {% if book.author %}
            by {{ book.author }}
            {%- if book.editor -%}
            ,
            {% endif %}
          {% endif %}

          {% if book.editor %}
          edited by {{ book.editor }}
          {% endif %}

          {% if book.retold_by %}
          retold by {{ book.retold_by }}
          {% endif %}

          {%- if book.publication_year %}
            ({{ book.publication_year}})
          {%- endif -%}
            <br/>
          {% if review.date_read %}
          read {{ review.date_read | render_date }}
            <br/>
          {% endif %}

          {% if review.rating and not review.did_not_finish %}
            <span class="star_rating">
              {{ review.rating | star_rating }}
            </span>
          {% endif %}

          {% if review.did_not_finish %}
          (did not finish)
          {% endif %}
        </small>
      </p>
    </div>
  {% if not read_at_another_time %}
  </a>
  {% endif %}
</div>
