<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/static/style.css?hash={{ '' | css_hash }}">

    {% block head_content %}{% endblock %}

    <style>
      aside #shelf_background {
        background: url({{ [0, 0, 0] | create_shelf_data_uri }});
        background-size: auto 100%;
      }
    </style>

    <title>{% if title %}{{ title | smartypants | safe }} {% endif %}📚 alexwlchan&rsquo;s book tracker</title>
  </head>
  <body>
    {% include "_header.html" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
  </body>
</html>
