<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--
      Note: this URL includes the last Git commit where the
      CSS file was modified.

      This means I can set a very long Cache-Control header but still
      have browsers fetch the file fresh whenever it changes.
    -->
    <link rel="stylesheet" href="/static/style.css?commit={{ css_commit }}">
    <style>
      {% include "_base.css" %}

      {% block extra_css %}{% endblock %}
    </style>

    {% block head_content %}{% endblock %}

    <title>{% if title %}{{ title | smartypants | safe }} — {% endif %}alexwlchan&rsquo;s book tracker</title>
  </head>
  <body>
    {% include "_header.html" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
  </body>
</html>
