<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!--
      TODO: Implement cache invalidation when the CSS file changes.
      I dropped it in the Rust rewrite, but it needs sorting.
    -->
    <link rel="stylesheet" href="/static/style.css?t={{ now() | date(format="%s") }}">
    <style>
      {% include "_base.css" %}

      {% block extra_css %}{% endblock %}
    </style>

    {% block head_content %}{% endblock %}

    <title>{% if title %}{{ title | smartypants | safe }} {% endif %}📚 alexwlchan&rsquo;s book tracker</title>
  </head>
  <body>
    {% include "_header.html" %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
  </body>
</html>
