{% extends "base.html" %}

{% block head_content %}
<meta name="theme-color" content="#191919">

<link rel="shortcut icon" type="image/png" href="/favicons/191919.png">
<link rel="shortcut icon" type="image/x-icon" href="/favicons/191919.ico">
{% endblock %}

{% block content %}
<h1>Welcome to my book tracker!</h1>

<p>
  This is a small app I created to track <a href="/reviews">the books I&rsquo;ve read</a>, inspired by a <a href="https://github.com/tessalt/books">similar book tracker</a> made by <a href="https://twitter.com/tessthornton">Tessa Thornton</a>.
</p>

<p>Here are a few books I&rsquo;ve read recently:</p>

<div class="books_by_year">
  {% for review_entry in reviews|slice(end = 5) %}
    {% include "_review_entry.html" %}
  {% endfor %}
  <a href="/reviews">read more reviews &rarr;</a>
</div>
{% endblock %}
