{% extends "base.html" %}

{% block head_content %}
<meta name="theme-color" content="#191919">

<link rel="shortcut icon" type="image/png" href="/favicons/191919.png">
<link rel="shortcut icon" type="image/x-icon" href="/favicons/191919.ico">

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<script src="/static/list_reviews.js"></script>
{% endblock %}

{% block content %}
  <h2>books i&rsquo;ve read</h2>

  <p>jump to:
  {% set linked_year = "" %}
  {% for review_entry in reviews %}
    {% if review_entry|year_read != linked_year %}
      {% if review_entry|year_read == 'another time' %}
        <a href="#another_time">another time</a>
      {% else %}
        <a href="#year_{{ review_entry|year_read }}">{{ review_entry|year_read }}</a> /
      {% endif %}
    {% endif %}
    {% set_global linked_year = review_entry|year_read %}
  {% endfor %}
  </p>

  <p>filter by:
    <button id="myButton">author</button>
  </p>

  <!-- <div id="covers" style="justify-content: space-between; text-align: center;">
  {% for review_entry in reviews %}
    {% set cover_dimensions = review_entry.derived_cover_info %}
    <img src="/thumbnails/{{ review_entry.book.cover.name }}" style="height: 65px; width: {{ cover_dimensions.width * 65 / cover_dimensions.height | round }}px;" loading="lazy">
  {% endfor %}
  </div> -->

  {% set heading_year = "" %}

  {% for review_entry in reviews %}
    {% if review_entry|year_read != heading_year %}

      <div class="divider"><img src="/static/book.svg"></div>

      {% if review_entry|year_read == this_year %}
        {% set count = reviews|books_in_year(year = review_entry|year_read) %}
        <h3 id="year_{{ review_entry|year_read }}">the {{ count }} book{% if count > 1 %}s{% endif %} i&rsquo;ve read so far in {{ review_entry|year_read }}</h3>
      {% elif review_entry|year_read == 'another time' %}
        <h3 id="another_time">books i read at another time</h3>

        <details>
          <summary style="margin-bottom: 1em">
            this is an (incomplete) list of the books I read before I started keeping proper records.
            the list is ordered by publication date, not reading date, and lacks a lot of detail.
          </summary>

          {% set_global read_at_another_time = true %}

      {% else %}
        {% set count = reviews|books_in_year(year = review_entry|year_read) %}
        <h3 id="year_{{ review_entry|year_read }}">the {{ count }} book{% if count > 1 %}s{% endif %} i read in {{ review_entry|year_read }}</h3>
      {% endif %}
      {% set_global heading_year = review_entry|year_read %}
    {% endif %}

    {% include "_review_entry.html" %}
  {% endfor %}
  </details>

  <script>
    const authorsSet = new Set(
      [...document.querySelectorAll('.review_preview')]
        .flatMap(rp => rp.getAttribute('data-book-authors').split(';'))
        .filter(s => s.length > 0)
    );
    const authors = Array.from(authorsSet);
    authors.sort();

    // With the above scripts loaded, you can call `tippy()` with a CSS
    // selector and a `content` prop:
    tippy('#myButton', {
      content: `
        <ul style="padding: 0; margin: 0; list-style: none;">
          ${authors.map((name, i) => `<li><input type="checkbox" name="${name}"><label for="${name}">${name}</label></li>`).join("")}
        </ul>
      `,
      trigger: 'click',
      placement: 'bottom',
      allowHTML: true,
      // https://atomiks.github.io/tippyjs/v6/all-props/#interactive
      interactive: true,
    });
  </script>
{% endblock %}
