<div class="books_by_year" id="books_by_year_{{ year }}">
  <h3>the books i read at another time
  </h3>

  <details>
    <summary style="margin-bottom: 1em">
      this is an (incomplete) list of the books I read before I started keeping proper records.
      the list is ordered by publication date, not reading date, and lacks a lot of detail.
    </summary>

    {% for review_entry in reviews|sort(attribute='book.publication_year')|reverse %}
      {% include "_review_entry.html" %}
    {% endfor %}

  </details>
</div>
