{% extends "base.html" %}

{% block content %}
  <p class="nav">
    <a href="/reviews">read</a> /
    <a class="selected" href="/reading">reading</a> /
    <a href="/to-read">to read</a>
  </p>

  <h2>books i&rsquo;m currently reading</h2>

  {% for reading_entry in all_reading %}
  {% set (r, g, b) = reading_entry.book.cover.tint_color | from_hex %}

  <style>
    #reading_{{ r }}_{{ g }}_{{ b }} {
      background: rgb(
        {{ (r * 0.08 + 0.92 * 255) | int }},
        {{ (g * 0.08 + 0.92 * 255) | int }},
        {{ (b * 0.08 + 0.92 * 255) | int }}
      );
      border-color: {{ reading_entry.book.cover.tint_color }};
    }
  </style>

  <div class="reading" id="reading_{{ r }}_{{ g }}_{{ b }}">
    <div class="reading_inner">
      <div class="book_thumbnail">
        {% set book = reading_entry.book %}
        {% include "_book_cover.html" %}
      </div>

      <div class="book_metadata">
        <p class="title">{{ reading_entry.book.title | smartypants | safe }}</p>
        <p>
          <small>
            by {{ reading_entry.book.author }}
            {%- if reading_entry.book.publication_year %}
              ({{ reading_entry.book.publication_year}})
            {%- endif -%}
          </small>
        </p>
      </div>
    </div>
    {% if reading_entry.reading.text %}
    <div class="note">
      {{ reading_entry.reading.text | render_markdown | safe }}
    </div>
    {% endif %}
  </div>
  {% endfor %}
{% endblock %}