{% extends "base.html" %}

{% block extra_css %}
  {% include "_review.css" %}
{% endblock %}

{% block head_content %}
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@alexwlchan"/>
  <meta name="twitter:title" content="alexwlchan's review of {{ book.title }}"/>
  <meta name="twitter:image" content="https://books.alexwlchan.net/squares/{{ book.cover.name }}"/>

  <meta property="og:type" content="article" />
  <meta property="og:url" content="https://books.alexwlchan.net/reviews/{{ slug }}">
  <meta property="og:title" content="{{ book.title }}">
  <meta property="og:image" content="https://books.alexwlchan.net/squares/{{ book.cover.name }}"/>
  <meta property="og:description" content="{{ book.title }}{% if book.author %}, by {{ book.author }}{% endif %}.{% if review.date_read and not review.did_not_finish %} Read {{ review.date_read | render_date }}.{% endif %}{% if review.rating and not review.did_not_finish %} {{ review.rating|star_rating }}{% endif %}">

  <meta name="theme-color" content="{{ book.cover.tint_color }}">

  <link rel="shortcut icon" type="image/png" href="/favicons/{{ book.cover.tint_color | replace(from='#', to='') }}.png">
  <link rel="shortcut icon" type="image/x-icon" href="/favicons/{{ book.cover.tint_color | replace(from='#', to='') }}.ico">
{% endblock %}

{% block content %}
  <div class="book-cover">
    {% include "_book_cover.html" %}
  </div>

  <h1>
    <span class="book-title">{{ book.title | smartypants | safe }}</span>
    {% if book.series %}
    <span class="book-series">({{ book.series | smartypants | safe }})</span>
    {% endif %}
  </h1>

  {#
    This means the publication year will be printed in parens next to
    the first/principal contributor, but only the first contributor.
    #}
  {% set year_has_been_printed = false %}

  {% set contributors = [
    "author", "retold_by", "translated_by", "editor", "illustrator", "narrator"
  ] %}

  <table class="book_metadata">
    {% for contributor in contributors %}
      {% if book is containing(contributor) %}
        {% set label = contributor | replace(from="_", to=" ") %}
        <tr>
          <th>{{ label }}{% if " and " in book[contributor] or ", " in book[contributor] or " & " in book[contributor] or " with " in book[contributor] %}s{% endif %}:</th>
          <td>{{ book[contributor] }}
            {%- if book.publication_year and not year_has_been_printed %}
              ({{ book.publication_year}})
              {% set_global year_has_been_printed = true %}
            {% endif %}
          </td>
        </tr>
      {% endif %}
    {% endfor %}

    {% if review.date_read %}
    <tr>
      <th>date read:</th>
      <td>{{ review.date_read | render_date }}
        {% if review.did_not_finish %}
          <span class="did_not_finish">
            (did not finish)
          </span>
        {% endif %}
      </td>
    </tr>
    {% endif %}
    {% if review.rating and not review.did_not_finish %}
    <tr>
      <th>rating:</th>
      <td>{{ review.rating | spread_star_rating }}</td>
    </tr>
    {% endif %}
  </table>

  <div class="review">
    {{ text | markdown | safe }}

    <p>(see <a href="/reviews">all reviews</a>)</p>
  </div>
{% endblock %}
