---
layout: compress
---

{% assign book = page.book %}
{% assign review = page.review %}

{% assign tint_color = book.cover.tint_color %}

{% assign year = page.review["date_read"] | slice: 0, 4 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include_cached head.html %}

    <style>
      {% include _review.css %}
    </style>

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@alexwlchan"/>
    <meta name="twitter:title" content="alexwlchan's review of {{ book.title }}"/>
    <meta name="twitter:image" content="{{ site.url }}/squares/{{ book.cover.name }}"/>

    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ site.url }}/reviews/{{ slug }}">
    <meta property="og:title" content="{{ book.title }}">
    <meta property="og:image" content="{{ site.url }}/squares/{{ book.cover.name }}"/>
    <meta property="og:description" content="{{ book | book_description }}. {{ review | review_description }}">

    <meta name="theme-color" content="{{ book.cover.tint_color }}">

    <link rel="shortcut icon" type="image/png" href="/favicons/{{ book.cover.tint_color | replace: "#", "" }}.png">
    <link rel="shortcut icon" type="image/x-icon" href="/favicons/{{ book.cover.tint_color | replace: "#", "" }}.ico">
  </head>

  <body>
    <a class="skip-main" href="#main">Skip to main content</a>

    {% include header.html %}

    <main id="main" tabindex="-1">
      <div class="book-cover">
        {% include book_cover.html %}
      </div>

      <h1>
        <span class="book-title">{{ book.title | smartify }}</span>
        {% if book.series %}
        <span class="book-series">({{ book.series | smartify }})</span>
        {% endif %}
      </h1>

      {% comment %}
        This means the publication year will be printed in parens next to
        the first/principal contributor, but only the first contributor.
      {% endcomment %}
      {% assign year_has_been_printed = false %}

      <table class="book_metadata">
        {% for c in book.contributors %}
          <tr>
            <th>
              {% if c["label"] %}{{ c["label"] }}{% else %}author{% endif %}:
            </th>
            <td>
              {{ c["name"] }}
              {% unless year_has_been_printed %}
                ({{ year }})
                {% assign year_has_been_printed = true %}
              {% endunless %}
            </td>
          </tr>
        {% endfor %}

        {% if review.date_read %}
        <tr>
          <th>date read:</th>
          <td>{{ review.date_read | date_read }}
            {% if review.did_not_finish %}
              <span class="did_not_finish">
                (did not finish)
              </span>
            {% endif %}
          </td>
        </tr>
        {% endif %}
        {% if review.rating and review.did_not_finish != "true" %}
        <tr>
          <th>rating:</th>
          <td>{{ review.rating | star_rating }}</td>
        </tr>
        {% endif %}
      </table>

      <div class="review">
        {{ content }}

        <p>(see <a href="/reviews">all reviews</a>)</p>
      </div>
    </main>

    {% include_cached footer.html %}
  </body>
</html>
